<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue</title>
</head>
<body>
    
    <div id='app'>
        {{message}}
    </div>

    <div id="app-3">
        <span v-if="seen">now u see me</span>
    </div>


    <div id="app-4">
        <ul>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ul>
    </div>

    <div id="app-5">
        <p>{{message}}</p>
        <button v-on:click="reverseMessage">Перевернуть сообщение</button>
    </div>

    <div id='app-6'>
        <p>{{message1}}</p>
        <input v-model="message">
    </div>

    <div id="app-7">
        <ol>
            <todo-item
                v-for= 'item in items'
                v-bind:todo ='item'
                v-binf:key=item.id
            ></todo-item>
        </ol>
    </div>









    <script src="vue.js"></script>
    <script src="index.js"></script>
</body>
</html>